<script src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
<script src="{{ "js/index.js" | relURL }}"></script>
<script src="{{ "js/smooth-scroll.min.js" | relURL }}"></script>
<script src="//cdn.bootcss.com/highlight.js/9.10.0/highlight.min.js"></script>
<script src="//cdn.bootcss.com/highlight.js/9.10.0/languages/r.min.js"></script>
<script>hljs.configure({languages: []}); hljs.initHighlightingOnLoad();</script>
{{ range .Site.Params.customJS }}
<link rel="stylesheet" href="{{ . | relURL }}">
{{ end }}

<script>
    smoothScroll.init({
        speed: 800,
        easing: 'easeInOutCubic',
        updateURL: false,
        offset: 125,
    });
</script>
<script>hljs.initHighlightingOnLoad();</script>

{{ template "_internal/google_analytics.html" . }}
