<section class="footer-social">
      {{ with .Site.Params.twitter }}
      <a href="//twitter.com/{{ . }}" target="_blank" title="Twitter"><i class="fa fa-2x fa-fw fa-twitter"></i> <span class="hidden">Twitter</span></a>&nbsp;
      {{ end }}
      {{ with .Site.Params.linkedin }}
      <a href="//www.linkedin.com/in/{{ . }}" target="_blank" title="linkedIn"><i class="fa fa-2x fa-fw fa-linkedin"></i> <span class="hidden">LinkedIn</span></a>&nbsp;
      {{ end }}
      {{ with .Site.Params.googleplus }}
      <a href="//plus.google.com/{{ . }}" target="_blank" title="Google+"><i class="fa fa-2x fa-fw fa-google-plus"></i> <span class="hidden">Google+</span></a>&nbsp;
      {{ end }}
      {{ with .Site.Params.facebook }}
      <a href="//www.facebook.com/{{ . }}" target="_blank" title="Facebook"><i class="fa fa-2x fa-fw fa-facebook"></i> <span class="hidden">Facebook</span></a>&nbsp;
      {{ end }}
      {{ with .Site.Params.instagram }}
      <a href="//www.instagram.com/{{ . }}" target="_blank" title="Instagram"><i class="fa fa-2x fa-fw fa-instagram"></i> <span class="hidden">Instagram</span></a>&nbsp;
      {{ end }}
      {{ with .Site.Params.github }}
      <a href="//github.com/{{ . }}" target="_blank" title="GitHub"><i class="fa fa-2x fa-fw fa-github"></i> <span class="hidden">GitHub</span></a>&nbsp;
      {{ end }}
      {{ with .Site.Params.gitlab }}
      <a href="//gitlab.com/u/{{ . }}" target="_blank" title="GitLab"><i class="fa fa-2x fa-fw fa-gitlab"></i> <span class="hidden">GitLab</span></a>&nbsp;
      {{ end }}
      {{ with .Site.Params.bitbucket }}
      <a href="//bitbucket.org/{{ . }}" target="_blank" title="Bitbucket"><i class="fa fa-2x fa-fw fa-bitbucket"></i> <span class="hidden">Bitbucket</span></a>&nbsp;
      {{ end }}
      {{ with .RSSLink }}
      <a href="{{ . }}" target="_blank" title="RSS"><i class="fa fa-2x fa-fw fa-rss"></i> <span class="hidden">RSS</span></a>
      {{ end }}
  </section>