body { color: #333; }
a {
  color: #f05948;
  text-decoration: none;
}
blockquote { margin: auto; }
.header, .header .banner { padding: 0; }
.header {
  border-top: 5px solid #8c1f22;
  border-bottom: none;
  margin-bottom: 5px;
  box-shadow: 0 0 10px #8c1f22;
}
.page .header {
  box-shadow: none;
  border-bottom: 1px solid #8c1f22;
  margin-bottom: 1em;
}
.header .banner-wrapper, .page .header .banner-wrapper {
  max-width: 100%;
  background: rgba(142, 31, 35, 0.025);
}
.banner {
  font-size: inherit;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
.header .banner-image, .menu-top {
  display: table-cell;
  vertical-align: middle;
}
.header .banner-image {
  margin-left: 0;
  padding-left: 0;
}
.menu-top {
  display: flex;
  padding-left: 0;
}
.menu-top li:first-child { border-left: 1px solid #8c1f22; }
.menu-top li {
  display: inline-block;
  display: flex;
  width: 1em;
  word-break: break-all;
  border-right: 1px solid #8c1f22;
  transition: background .3s;
  padding: 0 .5em;
  font-weight: bolder;
  align-items: center;
}
.menu-top li:hover { background: #8c1f22; }
.menu-top li a { display: flex; }
.menu-top li:hover a { color: #fff; }
.footer { background: #8c1f22; }
.article-list h1 {
  font-size: 1.3em;
  line-height: 1.3em;
}
.page main h1 {
  font-size: 1.7em;
  padding-bottom: .3em;
  border-bottom: 5px solid #eee;
}
.article-list a { color: #333; }
.categories a { color: #666; }
@media (min-width: 715px) {
  .article-list h1 {
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    /* This transparent border line is used for exact layout of .full-title */
    border: 1px solid rgba(1,1,1,0.0);
  }
  .title-wrapper { position: relative; }
  .title-wrapper h1.full-title {
    position: absolute;
    top: 0;
    margin-top: -5px; /* offset 5px padding */
    margin-left: -5px;
    padding: 5px;

    white-space: normal;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 5px 5px 3px rgba(0,0,0,0.2);

    /* https://stackoverflow.com/a/6943704 */
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.2s linear;
  }
  .title-wrapper:hover h1.full-title {
    visibility: visible;
    opacity: 1;
  }
}
@media (max-width: 715px) {
  .banner img {
    max-height: 5.5em;
    max-width: none;
    margin: 2px 0;
  }
  /* Do not show the cloned title element in small screen */
  .full-title {
      display: none;
  }
}
.date-author {
  margin-bottom: .5em;
  color: #666;
}
.summary img { transition: transform 0.6s; }
.summary img:hover { transform: scale(1.4); }
.article-list h1 a:hover {
  color: #f05948;
  text-decoration: none
}
.active a { text-decoration: underline; }
.article-meta {
  background: transparent;
  padding: 0;
}
article { box-shadow: 0 0 8px #ccc; }
article a:hover { font-weight: bold; color: #00b0cf; }

.article-footer {
  padding: 0 1em 0 1em;
  border: 1px solid #8c1f22;
  font-size: .9em;
  margin-top: 1em;
}
.article-footer img { max-width: 200px; }

.post-nav {padding: 1em 0;}
.post-nav a { font-weight: bold; }

.profile img {
  max-width: 8em;
  border-radius: 5%;
  margin-left: 1em;
}
.profile { border: none; }
.profile tr:nth-child(even) { background: none; }
.profile td {
  vertical-align: top;
  padding: 0 0 1em;
}
.profile td h3 { margin-top: 0; }
.pagination {
  padding: 0;
}
.pagination a {
  padding: 0 0.5em;
}

#forum-frame {
  border: none;
  width: 100%;
  visibility: hidden;
  height: 0;
}
