@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Cond Light'), local('OpenSans-CondensedLight'),
       url('../fonts/open-sans-condensed-latin-300.woff2') format('woff2'),
       url('../fonts/open-sans-condensed-latin-300.woff') format('woff');
}
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  src: local('Merriweather'), local('Merriweather-Regular'),
       url('../fonts/merriweather-latin-regular.woff2') format('woff2'),
       url('../fonts/merriweather-latin-regular.woff') format('woff');
}
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 700;
  src: local('Merriweather Bold'), local('Merriweather-Bold'),
       url('../fonts/merriweather-latin-700.woff2') format('woff2'),
       url('../fonts/merriweather-latin-700.woff') format('woff');
}
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'),
       url('../fonts/roboto-slab-latin-regular.woff2') format('woff2'),
       url('../fonts/roboto-slab-latin-regular.woff') format('woff');
}
