{{ if and .Params.forum_id .Site.Params.comment_url }}
<section class="comments">
<p><a href="{{ .Site.Params.comment_url }}{{ .Params.forum_id }}">{{ default "View Comments" .Site.Params.text.comment }}</a></p>
</section>

<div id="comment-box">
    <iframe id="forum-frame" style="visibility:hidden;border:none;display:block;width:100%;height:0;"></iframe>
</div>

<script type="text/javascript">
function show_comment_box() {
    var frame = document.getElementById("forum-frame");
    frame.src = "{{ .Site.Params.comment_embed_url }}{{ .Params.forum_id }}";
    frame.style.height = "800px";
    frame.style.visibility = "visible";
}

// https://stackoverflow.com/questions/487073/check-if-element-is-visible-after-scrolling/488073#488073
function is_visible(elem) {
    var elem_top = elem.getBoundingClientRect().top;
    var elem_bot = elem.getBoundingClientRect().bottom;
    var is_vis = (elem_top >= 0) && (elem_bot <= window.innerHeight);
    return is_vis;
}

var comment_box = document.getElementById("comment-box");
// If the comment box is already in the current screen, start loading comments
if(is_visible(comment_box)) {
    show_comment_box()
} else {
    // Otherwise, attach the action to the scroll event
    document.body.onscroll = function() {
        var comment_box = document.getElementById("comment-box");
        if(is_visible(comment_box)) {
            // Run only once
            document.body.onscroll = null;
            show_comment_box();
        }
    }
}
</script>
{{ end }}
